<div class="contain-signup">
    <input class="first left" name="first_name" placeholder="First" type="text"/>
    <input class="last right" name="last_name" placeholder="Last" type="text"/>
    <div class="cf"></div>

    <input class="username left" name="username" placeholder="Username" type="text"/>
    <input class="email right" name="email" placeholder="Email" type="email"/>
    <div class="cf"></div>

    <input class="password left" name="password" placeholder="Password" type="password"/>
    <button class="signup right" type="submit">Signup</button>
    <div class="cf"></div>

</div>