.contain-login {
  margin: auto;
  padding-top: 220px;
  text-align: center;
  width: 180px;
  input,button {
    margin: auto;
    width: 90%;
  }
  input {
    margin-bottom: 5px;
  }
  button {
    margin-top: 10px;
  }
}